<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    {{#if user}}
      <p>
        Hello {{user.displayName}}
      </p>
    {{else}}
      <p>
        <a href="/auth/facebook">Login</a>
      </p>
    {{/if}}
  </body>
</html>
